/**********************
* Base style
**********************/
html,
body {
  height: 100%;
}

body {
  background: #fff;
  font-family: 'PT sans', sans-serif;
  font-size: 10px;
  color: #000;
  font-weight: 400;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}

br {
  font-size: 0;
}