/**********************
* typography
**********************/
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
  font-weight: 400;
}

h1 {
  
}

h2 {
 
}

h3 {
  
}

h4 {
  
}

h5 {
  
}

h6 {
  
}

p {
  
}

a {
  display: inline-block;
}

a:hover,
a:focus,
a:active {
  
}